<%- include("_partials/header.ejs"); %>

<h1>Account</h1>


<% if (locals.user) { %>
<h3>
  SIGNED IN
</h3>
<p>
  User ID: <%= locals.user.id %>
</p>

<fieldset class="pre">
  <legend>ID Token</legend>
  <%= locals.user.id_token %>
</fieldset>

<fieldset>
  <legend>Claims</legend>
  <pre style="margin: 0;"><%= JSON.stringify(JSON.parse(atob(locals.user.id_token.split(".")[1])), null, 2); %></pre>
</fieldset>

<% } %>



<%- include("_partials/footer.ejs"); %>